.formulario{
    width: 100%;

    .campo{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        label{
            flex: 0 0 10rem;
            color: $blanco;
            
        }
        input{
            flex: 1;
            padding: $separacion/4;
            border-radius: 10px;
            border: none;
        }
    }
}

.alerta{
    padding: $separacion/5;
    text-align: center;
    color: $blanco;
    width: 100%;
    display: block;
    font-size: 2rem;

    &.error{
        background-color: rgb(194,0,0);
    }
}